// Specific CSS for your home-page
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    width: 200px;
    height: 250px;
    display: inline-block;
  }
}

#home-img {
  height: 437px;
  width: 100%;
  background: linear-gradient(
                rgba(0, 0, 0, 0.7),
                rgba(0, 0, 0, 0.5)
              ),
              url("https://images.unsplash.com/photo-1584912262782-d828d56a1d9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQ5fHxtZWRpY2luZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60") no-repeat center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-title {
  color: #ffffff;
}
