<h1>Checkout</h1>

<div class="co-cards">
  <%# <div class="row"> %>
    <div class="co-card">
      <h3>Upload Rx</h3>
    </div>

    <div class="co-card">
    <%= link_to "Talk to your pharmacy", chatroom_path(4) %>
      <h3>Talk to your pharmacist</h3>
    </div>
  <%# </div> %>

  <%# <div class="row"> %>
    <div class="co-card">
      <h3>Pickup</h3>
    </div>

    <div class="co-card">
      <h3>Delivery</h3>
    </div>
  <%# </div> %>
</div>

<%# <%= render 'upload_rx' %>
