.search-card {
  // width: 100%;
  padding: 1em;
  // border-radius: 0.5em;
  // box-shadow: 0px 5px 10px #555;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: left;
  color: #404240;
}

#pharma-count {
  color: #5B9363;
}
